body {
	background-image: url("image/bg.png");
	width: 876px;
	height: 627px;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto 0;
}

.logo

.nav

.nav__item

.nav




.product

.slider

.slider__brand

.slider__main-picture

.slider__list

.slider__item

.slider__small-picture

.label-new

.product__title




